* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h1 img {
    width: 400px;
    height: 200px;
    display: block;
    margin: auto;
}

main {
    
}